root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = tab
indent_style = tab
insert_final_newline = true
max_line_length = off
tab_width = 4
trim_trailing_whitespace = true

# Markdown.
# 4-space indentation is required.
[*.md]
indent_size = 4
indent_style = space

[*.txt]
tab_width = 8

# YAML.
[*.yaml]
indent_size = 2
indent_style = space
